$icon-font-path: "/fonts/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {

}

h1, h2, h3, h4, h5, .navbar-brand {
    font-family: 'Bitter', 'serif';
}
nav.navbar {
    margin:0;
}
#hero-spot {
  padding: 50px 20px 50px 20px;
  position: relative;
  overflow: hidden;
  background: #1A2233 url('../images/bg-home-sea.jpg') no-repeat center center;
  color:white;
  margin-bottom:20px;
}

p {
    img.pull-left {
        margin:0 15px 15px 0;
    }
}

p {
    img.pull-right {
    margin:0 0 15px 15px;
    }
}

.google-map {
    height:350px;
    padding-bottom:20px;
}

.cars {
    img {
        opacity: 0;
        margin:5px;
        display:inline-block;
        -ms-transition: all .4s ease-out .1s;
        -webkit-transition: all .4s ease-out .1s;
        transition: all .4s ease-out .1s;
        -webkit-transition-timing-function: cubic-bezier(0.175,.885,.32,1.275);
        -ms-transition-timing-function: cubic-bezier(0.175,.885,.32,1.275);
        transition-timing-function: cubic-bezier(0.175,.885,.32,1.275);
        width:250px;
        &.car_01 {
            -ms-transition: all .4s ease-out .2s;
            -webkit-transition: all .4s ease-out .2s;
            transition: all .4s ease-out .2s;
        }
        &.car_02 {
            -ms-transition: all .4s ease-out .3s;
            -webkit-transition: all .4s ease-out .3s;
            transition: all .4s ease-out .3s;
        }
        &.car_03 {
            -ms-transition: all .4s ease-out .4s;
            -webkit-transition: all .4s ease-out .4s;
            transition: all .4s ease-out .4s;
        }
        &.car_04 {
            -ms-transition: all .4s ease-out .5s;
            -webkit-transition: all .4s ease-out .5s;
            transition: all .4s ease-out .5s;
        }
    }
    &.in-view {
        img {
            opacity:1;
        }
    }

}

/* BOOKS */
dl.books {
    dd {
        margin:0 0 20px 10px;
    }    
}

/* VIDEO */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:100;
}

.row .thumbnail a > img {
    width:100%;
}

ul.qanda {
    li {
        margin-bottom:25px;
    }
}
.media {
    img {
        width:auto;
    }
}

/* LIST GROUP */
@media (max-width: 768px) { 
    .list-group-item {
        span.badge {
            display:block;
            width:auto;
            float:none !important;
        }
    }
    .media {
        img {
            width:100px;
        }
    }
    
}

/* BIB */
.reference-list li.bg-warning {
    border-right:#ccc 4px solid;
    padding-right:15px;
}
/* FOOTER */
      html,
      body {
        height: 100%;
      }

      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -60px;
      }

      #push,
      #footer {
        height: 100px;
      }
      #footer {
        padding-top:10px;
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

.accordion-toggle {
    cursor: pointer;
}

/* ROLL LINKS */
.roll-link {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    &:hover {
        text-decoration:none;
        span {
            background: #5cb85c;
            -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
            -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
            -ms-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
            transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
        }
    }
    span {
        display: block;
        position: relative;
        padding: 0 2px;
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        transition: all 400ms ease;
        -webkit-transform-origin: 50% 0%;
        -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        &:after {
            content: attr(data-title);
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            padding: 0 2px;
            color: #fff;
            background: #5cb85c;
            -webkit-transform-origin: 50% 0%;
            -moz-transform-origin: 50% 0%;
            -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
            -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
            -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
            -ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
            transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
        }
    }
}
