<div class="page-header">
  <h1>About</h1>
</div>
<div class="row">
    <div class="col-md-9">
    <p> All text, code, videos, and design has been written, developed, plucked and cooked by Ramon Dodd for the PWR160 module of the Masters of Professional Writing Award 2013-2015.</p>

    <p>This site has been tested in all modern browsers and is <strong>mobile ready</strong>.</p>

    <h2>Why this website?</h2>
    <p>While conducting my research for the Industry Analysis component of this module, I was struck by just how important online publishing and promotion is to the success of a new author. The marketing aspect aside, simply having your voice and work available to a  potential audience of millions 24/7 is crucial for the development of future networks and your own brand. Building a website to feature my research was therefore the only logical presentation format.</p>

     <h2>Technologies &amp; credits</h2>

     <p><span class="lead">Special thanks</span> to all the authors who were kind enough to lend me some of their spare time. Especially Piers Alexander and AJ Waines. I say <em>'lend'</em> because one day I hope to give it back <i class="fa fa-smile-o"></i></p>

     <h3>Nerd stuff under da' hood</h3>
     <ul>
        <li><a class="roll-link" data-title="Fontawesome" href="http://fortawesome.github.io/Font-Awesome/">Fontawesome</a></li>
        <li><a class="roll-link" data-title="Twitter Bootstrap" href="http://getbootstrap.com/">Twitter Bootstrap</a></li>
        <li><a class="roll-link" data-title="Angular JS" href="https://angularjs.org">Angular JS</a></li>
     </ul>

    <h2>Get in touch</h2>
    <p>Questions? Drop me an email at <strong>rd159875 {@} falmouth.ac.uk</strong>.</p>
    </div>
    <div class="col-md-3">
        <img src="images/santa.jpg" alt="It's Santa!" class="img-thumbnail">
    </div>
</div>
