<div class="page-header">
  <h1>Bibliography</h1>
</div>
<div class="alert alert-info">
  <strong>Hint:</strong>  Click on <i class="fa fa-caret-left"></i> to go back to the source page.
</div>


<ol class="reference-list">
    <li ng-repeat="source in sources" id="ref{{$index+1}}" ng-class="{'bg-warning':currentReference==$index+1}"> 
        <cite>
        <a href="/{{source.srcPage}}#{{$index+1}}"><i class="fa fa-caret-left"></i></a> <span ng-if="source.author">{{source.author}}</span> <em>{{source.title}}</em>. Available from:  &lt;<a href="{{source.link}}" target="_blank">{{source.linkText}}</a> <i class="fa fa-external-link"></i>&gt;  [<small>Accessed: {{source.accessed}}</small>]</cite>
    </li>
</ol>
