
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#industry-analysis">
        <img src="images/promo-ia.jpg" alt="Industry Analysis">
      </a>
      <div class="caption">
        <h4><a class="roll-link" data-title="Industry Analysis" href="#industry-analysis">Industry Analysis</a></h4>
        <p>How do first-time authors market themselves online?</p>                
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#research">
        <img src="images/promo-research.jpg" alt="Research">
      </a>  
      <div class="caption">
        <h4><a class="roll-link" data-title="Research" href="#research">Research</a></h4>
        <p>Background research: Australia in 1988</p>                
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#presentation">
        <img src="images/promo-presentation.jpg" alt="Presentation">
      </a>  
      <div class="caption">
        <h4><a class="roll-link" data-title="Presentation" href="#presentation">Presentation</a></h4>
        <p>Introduction to <em>The Sandbanker</em></p>                
      </div>
    </div>
  </div>  
</div>
<hr>
<p>
  <a popover="How new authors approach online marketing and promotion" popover-trigger="mouseenter" class="btn btn-success btn-lg pull-right" href="#industry-analysis">
    Get started <span class="glyphicon glyphicon-chevron-right">
  </a>
</p>
