
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/350x200">
      <div class="caption">
        <h3>Industry Analysis</h3>
        <p>How are first-time authors marketings themselves online?</p>                
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/350x200">
      <div class="caption">
        <h3>Background research</h3>
        <p>What was Australia like in 1988?</p>                
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/350x200">
      <div class="caption">
        <h3>Proposal presentation</h3>
        <p>How are first-time authors marketings themselves online?</p>                
      </div>
    </div>
  </div>  
</div>

<p>
  <a popover="How new authors approach online marketing and promotion" popover-trigger="mouseenter" class="btn btn-success btn-lg pull-right" href="#industry-analysis">
    Get started <span class="glyphicon glyphicon-chevron-right">
  </a>
</p>
