
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#industry-analysis">
        <img src="http://placehold.it/350x200">
      </a>
      <div class="caption">
        <h3><a class="roll-link" data-title="Industry Analysis" href="#industry-analysis">Industry Analysis</a></h3>
        <p>How do first-time authors market themselves online?</p>                
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#research">
        <img src="http://placehold.it/350x200">
      </a>  
      <div class="caption">
        <h3><a class="roll-link" data-title="Research" href="#research">Research</a></h3>
        <p>Background research: What was Australia like in 1988?</p>                
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#presentation">
        <img src="http://placehold.it/350x200">
      </a>  
      <div class="caption">
        <h3><a class="roll-link" data-title="Presentation" href="#presentation">Presentation</a></h3>
        <p>Introduction to <em>The Sandbanker</em></p>                
      </div>
    </div>
  </div>  
</div>

<p>
  <a popover="How new authors approach online marketing and promotion" popover-trigger="mouseenter" class="btn btn-success btn-lg pull-right" href="#industry-analysis">
    Get started <span class="glyphicon glyphicon-chevron-right">
  </a>
</p>
