<div class="page-header">
  <h1>Industry Analysis <small>From Pencils to Pixels</small></h1>
</div>

<h2>Introduction</h2>

<div class="row">
    <div class="col-md-7">
        
        <p><span class="lead">When Charles Dickens</span> delivered the first installment of The Pickwick Papers, the serialised work that would launch his name into the limelight and make him the most popular English-language writer of the Victorian era, he was riding square and neatly on the top of the greatest “mass dissemination” and promotion of literature there had ever been. Publishers Chapman and Hall distributed the monthly letterpress issues via coach up and down the country and via steamer to eager fans on the American continent, and it was not uncommon to see people wandering the streets engrossed in the latest adventures of Nell and her grandfather. </p>

        <p>Dickens was also no slouch when it came to self-promotion: one of his reading tours lasted nearly a year and saw him appear 129 times in 49 different locations across Britain and Ireland. </p>

        <p>The last installment of Dickens’s first official work of literature sold almost 40,000 copies - a colossal figure at the time given the technology and marketing channels available to authors at the time. </p>

        <p>The printing press brought with terrific advancements in the dissemination of literature and continue promotion in the printed media. One can only wonder how far a wealth of talent and hard work, plus a little luck would have carried Dickens in the era of the internet - an age in which, at a click of a button, a message can spread to and be consumed by billions of people.</p>

        <p>In this short piece of research I want to focus on:

        <ol>
            <li>how first-time and do-it-yourself authors <strong>promote themselves online</strong>,</li>
            <li>which <strong>technologies</strong> they use, and </li>
            <li>how the internet - arguably the most significant evolution in information dissemination since the printing press - has helped them claim a slice of the ever-shrinking public’s attention.</li>
        </ol>

    </div>
    <div class="col-md-5 col-sm-6 col-xs-8">
        <div class="thumbnail">
          <img class="img-responsive" src="images/lolcat-dickens.jpg" alt="LOLCAT Dickens">
          <div class="caption">
            <blockquote class="blockquote-reverse">
                <p>What greater gift than the love of a cat.</p>
                <footer>Charles Dickens, Author</footer>
            </blockquote>
          </div>
        </div>
    </div>
</div>

<hr>

 <h2>Tardis to 2014 and the web marketing slam</h2>

<div class="row">
    <div class="col-md-7">
        <p>Fast-forward to the twittery-first century when publishers are asking all their authors to start blogs<sup><a href="#bibliography#1">1</a></sup>, 
        and self-published novelists such as <a class="roll-link" data-title="Hugh Howey" href="http://www.hughhowey.com/">Hugh Howey</a>, the current pin-up boy for do-it-yourself digital marketing success and social media animal, are at any one time attached at the fingertips to dozens of media channels and various promotional technologies to spread the word about their works. </p>

        <p>Hugh connects with his fans by blogging, <a class="roll-link" data-title="tweets" href="https://www.facebook.com/hughhowey">tweets</a>, <a class="roll-link" data-title="facebooking" href="https://www.facebook.com/hughhowey">facebooking</a> and working his <a class="roll-link" data-title="Goodreads" href="http://www.goodreads.com/author/show/3064305.Hugh_Howey">Goodreads</a> account (goodreadings sounds silly as a verb).</p>

        <p>During a talk at the Kobo stand at the London Book Fair this year, he predicted that the future of publishing is the self-styled, hard-working, business-minded, self-publishing author. “You can can start your career in self-publishing and end up wherever you want,” he said.</p>

        <p>And it’s true: for little or no cost at all, anyone can set up an online profile on multiple networks and attempt to promote themselves to the billions of people now online across the world. But this is merely the start of the journey: ensuring people hear your journey is one part, and something online promotion has in common with previous media; now it’s about connecting and sharing and riding the back of the powerful word-of-mouth dissemintation* or share/like/post/insert your favourite positive vibe word here.</p>

        <p>This is all terrific for people with the technical skills to turn on a computer and deal with such topics as blogging, hashtags, organic search results, HTML and other fresh-faced linguistic entrants to the New Oxford dictionary (online edition), or the new generation of digital natives - the ones that came after generation Y because generation Z sounded too much like the last letter of the alphabet - but what of first-time authors, who often juggle their ‘other’ careers and have little time or money, or inclination to begin the journey from Pen to Pixels?</p>

        <p>And is interacting with social media a necessity at all?</p>

        <p>I decided to hunt for writing resources that aim to support the IT newbie author crowd, and ask experts what their advice is for new authors - what they should do and whether they should bother, and interview a few authors about their experiences.</p>
    </div>
    <div class="col-md-5 col-sm-6 col-xs-8">
        <h3>Popular social media channels for authors</h3>
        <div ng-controller="AccordionCtrl">
          <accordion close-others="oneAtATime">
            <accordion-group heading="Facebook" is-open="true">
              <p><i class="fa fa-facebook-square fa-2x"></i> The daddy of social networks, with 1.23 billion active users, allows people and businesses to connect and share photos of their cats with friends and general members of the stalking public.</p>
                <div class="alert alert-info clearfix">
                    <p>
                        <img class="img-circle pull-right" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1.0-1/c0.9.75.75/946814_10151577885606211_1834778781_t.jpg" alt="Paulo Coelho">
                        <i class="fa fa-thumbs-o-up"></i> 
                        At the time of writing (<date>April, 2014</date>), <a href="https://www.facebook.com/paulocoelho">Paulo Coelho</a> was officially the most followed author on Facebook with 19,816,096 likes. See the list of <a href="http://fanpagelist.com/category/authors/">top authors</a>.
                    </p>
                </div>

            </accordion-group>
            <accordion-group heading="Twitter">
                <p><i class="fa fa-twitter-square fa-2x"></i> A micro messaging/blogging platform which allows its 500 million registered users to tell the world what’s on their minds in 140 characters or less.</p>
                <div class="alert alert-info clearfix">
                    <p>
                        <img class="img-circle pull-right" src="https://pbs.twimg.com/profile_images/378800000474715943/222215543a2cf37c5c305e6db0a56ae8_bigger.jpeg" alt="@neilhimself">
                        <i class="fa fa-twitter"></i> <a hred="https://twitter.com/neilhimself">Neil Gaiman</a> is one of the most prolific Tweeters, according to <a href="http://www.telegraph.co.uk/culture/books/9957341/Top-ten-most-prolific-authors-on-Twitter.html">The Telegraph</a>.
                    </p>
                </div>
            </accordion-group>
            <accordion-group heading="Goodreads">
                <p><i class="fa fa-book fa-2x"></i> A haunt for writers, readers, dreamers to review, rate, share books, and track the progress of the literary output and consumption.</p>
                
                <div class="alert alert-info clearfix">
                    <p><i class="fa fa-globe"></i> Monthly page visits</p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 100%;">
                        25,488,968
                      </div>
                    </div>

                    <p><i class="fa fa-user"></i> Vistor demographics</p>
                    <div class="progress progress-striped">
                          <div class="progress-bar progress-bar-success" style="width: 33%">
                            Male
                          </div>
                          <div class="progress-bar progress-bar-warning" style="width: 67%">
                            Female
                          </div>
                    </div>
                    <div class="progress progress-striped">
                          <div class="progress-bar progress-bar-success" style="width: 20%">
                            No college
                          </div>
                          <div class="progress-bar progress-bar-warning" style="width: 35%">
                            College
                          </div>
                          <div class="progress-bar progress-bar-danger" style="width: 45%">
                            Grad school
                          </div>
                    </div>

                    <div class="progress progress-striped">
                          <div class="progress-bar progress-bar-info" style="width: 33%">
                            Kids
                          </div>
                           <div class="progress-bar progress-bar-success" style="width: 67%">
                            No kids
                          </div>
                    </div>

                    <em><a href="https://www.quantcast.com/goodreads.com?country=US">Goodreads statistics from the US</a> <small>(March 2014)</small></em>

                </div>
            </accordion-group>
            <accordion-group heading="Tools, tools, tool ">
                <p><i class="fa fa-question-circle fa-2x"></i> 

                There are dozens more social media networks and tools and new online marketing opportunities are emerging from the digital ether all the time. Some new players include:</p>
                <ul>
                    <li><a href="http://authors.jellybooks.com/">Jelly Books</a> - Allows readers to discover new writers and books</li>
                    <li><a href="http://namechk.com/">Namechk</a> - Allows authors to check if their names are available on social media networks</li>
                </ul>
            </accordion-group>
          </accordion>
        </div>
    </div>
</div>



<p class="pull-right"><a class="btn btn-success btn-lg" href="#research">
  Research <span class="glyphicon glyphicon-chevron-right">
</a></p>