<div class="page-header">
  <h1>Industry Analysis <small>From Pencils to Pixels</small></h1>
</div>

<h2>Introduction</h2>

<div class="row">
    <div class="col-md-7">
        
        <p><span class="lead">When Charles Dickens</span> delivered the first installment of The Pickwick Papers, the serialised work that would launch his name into the limelight and make him the most popular English-language writer of the Victorian era, he was riding square and neatly on the top of the greatest “mass dissemination” and promotion of literature there had ever been. Publishers Chapman and Hall distributed the monthly letterpress issues via coach up and down the country and via steamer to eager fans on the American continent, and it was not uncommon to see people wandering the streets engrossed in the latest adventures of Nell and her grandfather. </p>

        <p>Dickens was also no slouch when it came to self-promotion: one of his reading tours lasted nearly a year and saw him appear 129 times in 49 different locations across Britain and Ireland. </p>

        <p>The last installment of Dickens’s first official work of literature sold almost 40,000 copies - a colossal figure at the time given the technology and marketing channels available to authors at the time. </p>

        <p>The printing press brought with terrific advancements in the dissemination of literature and continue promotion in the printed media. One can only wonder how far a wealth of talent and hard work, plus a little luck would have carried Dickens in the era of the internet - an age in which, at a click of a button, a message can spread to and be consumed by billions of people.</p>

        <p>In this short piece of research I want to focus on:

        <ol>
            <li>how first-time and do-it-yourself authors <strong>promote themselves online</strong>,</li>
            <li>which <strong>technologies</strong> they use, and </li>
            <li>how the internet - arguably the most significant evolution in information dissemination since the printing press - has helped them claim a slice of the ever-shrinking public’s attention.</li>
        </ol>

    </div>
    <div class="col-md-5">
        <div class="thumbnail">
          <img class="img-responsive" src="images/lolcat-dickens.jpg" alt="LOLCAT Dickens">
          <div class="caption">
            <blockquote class="blockquote-reverse">
                <p><i class="fa fa-quote-left"></i> What greater gift than the love of a cat.</p>
                <footer>Charles Dickens, Author</footer>
            </blockquote>
          </div>
        </div>
    </div>
</div>

<hr>

<h2>Tardis to 2014 and the web marketing slam</h2>

<div class="row">
    <div class="col-md-7">
        <p>Fast-forward to the twittery-first century when publishers are asking all their authors to start blogs<sup referencelink="1"></sup>, 
        and self-published novelists such as <a class="roll-link" data-title="Hugh Howey" href="http://www.hughhowey.com/">Hugh Howey</a>, the current pin-up boy for do-it-yourself digital marketing success and social media animal, are at any one time attached at the fingertips to dozens of media channels and various promotional technologies to spread the word about their works. </p>

        <p>Hugh connects with his fans by blogging, <a class="roll-link" data-title="tweets" href="https://www.facebook.com/hughhowey">tweets</a>, <a class="roll-link" data-title="facebooking" href="https://www.facebook.com/hughhowey">facebooking</a> and working his <a class="roll-link" data-title="Goodreads" href="http://www.goodreads.com/author/show/3064305.Hugh_Howey">Goodreads</a> account (goodreadings sounds silly as a verb).</p>

        <p>During a talk at the Kobo stand at the London Book Fair this year, he predicted that the future of publishing is the self-styled, hard-working, business-minded, self-publishing author. “You can can start your career in self-publishing and end up wherever you want,” he said.</p>

        <p>And it’s true: for little or no cost at all, anyone can set up an online profile on multiple networks and attempt to promote themselves to the billions of people now online across the world. But this is merely the start of the journey: ensuring people hear your journey is one part, and something online promotion has in common with previous media; now it’s about connecting and sharing and riding the back of the powerful word-of-mouth dissemintation* or share/like/post/insert your favourite positive vibe word here.</p>

        <p>This is all terrific for people with the technical skills to turn on a computer and deal with such topics as blogging, hashtags, organic search results, HTML and other fresh-faced linguistic entrants to the New Oxford dictionary (online edition), or the new generation of digital natives - the ones that came after generation Y because generation Z sounded too much like the last letter of the alphabet - but what of first-time authors, who often juggle their ‘other’ careers and have little time or money, or inclination to begin the journey from Pen to Pixels?</p>

        <p>And is interacting with social media a necessity at all?</p>

        <p>I decided to hunt for writing resources that aim to support the IT newbie author crowd, and ask experts what their advice is for new authors - what they should do and whether they should bother, and interview a few authors about their experiences.</p>
    </div>
    <div class="col-md-5">
      <aside>
        <h4>Popular social media channels for authors</h4>
        <div ng-controller="AccordionCtrl">
          <accordion close-others="oneAtATime">
            <accordion-group heading="Facebook" is-open="true">
              <p><i class="fa fa-facebook-square fa-2x"></i> The daddy of social networks, with 1.23 billion active users, allows people and businesses to connect and share photos of their cats with friends and general members of the stalking public.</p>
                <div class="alert alert-info clearfix">
                    <p>
                        <img class="img-circle pull-right" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1.0-1/c0.9.75.75/946814_10151577885606211_1834778781_t.jpg" alt="Paulo Coelho">
                        <i class="fa fa-thumbs-o-up"></i> 
                        At the time of writing (<date>April, 2014</date>), <a href="https://www.facebook.com/paulocoelho">Paulo Coelho</a> was officially the most followed author on Facebook with 19,816,096 likes. See the list of <a href="http://fanpagelist.com/category/authors/">top authors</a>.
                    </p>
                </div>

            </accordion-group>
            <accordion-group heading="Twitter">
                <p><i class="fa fa-twitter-square fa-2x"></i> A micro messaging/blogging platform which allows its 500 million registered users to tell the world what’s on their minds in 140 characters or less.</p>
                <div class="alert alert-info clearfix">
                    <p>
                        <img class="img-circle pull-right" src="https://pbs.twimg.com/profile_images/378800000474715943/222215543a2cf37c5c305e6db0a56ae8_bigger.jpeg" alt="@neilhimself">
                        <i class="fa fa-twitter"></i> <a hred="https://twitter.com/neilhimself">Neil Gaiman</a> is one of the most prolific Tweeters, according to <a href="http://www.telegraph.co.uk/culture/books/9957341/Top-ten-most-prolific-authors-on-Twitter.html">The Telegraph</a>.
                    </p>
                </div>
            </accordion-group>
            <accordion-group heading="Goodreads">
                <p><i class="fa fa-book fa-2x"></i> A haunt for writers, readers, dreamers to review, rate, share books, and track the progress of their literary output and consumption.</p>
                
                <div class="alert alert-info clearfix">
                    <p><i class="fa fa-globe"></i> Monthly page visits</p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 100%;">
                        25,488,968
                      </div>
                    </div>

                    <p><i class="fa fa-user"></i> Vistor demographics</p>
                    <div class="progress progress-striped">
                          <div class="progress-bar progress-bar-success" style="width: 33%">
                            Male
                          </div>
                          <div class="progress-bar progress-bar-warning" style="width: 67%">
                            Female
                          </div>
                    </div>
                    <div class="progress progress-striped">
                          <div class="progress-bar progress-bar-success" style="width: 20%">
                            No college
                          </div>
                          <div class="progress-bar progress-bar-warning" style="width: 35%">
                            College
                          </div>
                          <div class="progress-bar progress-bar-danger" style="width: 45%">
                            Grad school
                          </div>
                    </div>

                    <div class="progress progress-striped">
                          <div class="progress-bar progress-bar-info" style="width: 33%">
                            Kids
                          </div>
                           <div class="progress-bar progress-bar-success" style="width: 67%">
                            No kids
                          </div>
                    </div>

                    <em><a href="https://www.quantcast.com/goodreads.com?country=US">Goodreads statistics from the US</a> <small>(March 2014)</small></em>

                </div>
            </accordion-group>
            <accordion-group heading="Tools, tools, tool ">
                <p><i class="fa fa-question-circle fa-2x"></i> 

                There are dozens more social media networks and tools and new online marketing opportunities are emerging from the digital ether all the time. Some new players include:</p>
                <ul>
                    <li><a href="http://authors.jellybooks.com/">Jelly Books</a> - Allows readers to discover new writers and books</li>
                    <li><a href="http://namechk.com/">Namechk</a> - Allows authors to check if their names are available on social media networks</li>
                </ul>
            </accordion-group>
          </accordion>
        </div>
        </aside>
    </div>
</div>


<hr>
<h2>Expert advice</h2>
<h3>Step 1: <small>The writer's blog</small></h3>
<p>In a time when some people are questioning whether writers should waste their time with a blog at all<sup referencelink="2"></sup>, <a class="roll-link" data-title="Jeff Goins" href="http://goinswriter.com/">Jeff Goins</a> is a hard-working blogger and copywriter who achieved the writer’s holy grail: to be able to ditch the full-time job and work in one’s underpants. He did so by establishing what is now a successful blog, where he publishes articles on his craft and provides advice to other writers who wish to know how the hell he did it.</p> 

<p><a href="http://goinswriter.com/"><img src="images/Jeff-Goins.jpg" class="pull-left img-thumbnail img-responsive" alt="Jeff Goins"></a> When Jeff started out on his writing career, he had a blank database, no fans or followers; only an intense desire to get up early and punish his keyboard. After a few months, people began to follow his work, and soon, conference organisers were knocking on his inbox, inviting him speak at their events. He has since published a few books on writing and continues to post articles and tips to his loyal online community.</p> 

<p>I got in touch with Jeff to ask him what tips he’d give to first-time writers and his reply was short, but convincing: "Start a blog". Well, it was a little longer than that. Being passionate about what you write. Being honest, and importantly, being kind to your core fans is also a smart thing to do. On the practical side of things, Jeff says,</p>

<blockquote class="blockquote">
    <p><i class="fa fa-quote-left"></i> You need a website and an email list. Great content is a good idea, too. But I would start there. Those are the basics.</p>
</blockquote>



<p>Blogging takes effort and time and writers who have just composed  their first novel, and had it published, may not see the literary merit in the task. Jeff’s approach is, not to write what they’re telling you to write, but use it as a way to connect with your readers and improve your craft. "I wouldn't worry too much about convincing other writers," he says. </p>

<p>"What I would focus on is getting you to believe that this is worth your time. <strong>Who knows if blogging pays off, but what we can't argue is that practice pays off</strong>. A blog just allows you to do that in public and to generously share some of your best work for free. Not a bad way to build an audience, if you ask me."</p>

<h3>Step 2: <small>A writer's online community</small></h3>

<p><a href="http://www.thecreativepenn.com"><img src="images/creative-penn.png" class="pull-right img-thumbnail img-responsive" alt="The Creative Penn"></a> Joanna Penn’s writing blog, <a class="roll-link" data-title="The Creative Penn" href="http://www.thecreativepenn.com">The Creative Penn</a>, is another well-known resource for information on publishing and writing and marketing books.  I quizzed one of her guest bloggers, self-publishing author <a class="roll-link" data-title="Daryl Rothman" href="http://www.darylrothman.com">Daryl Rothman</a>, on the next steps a writer should take in the world of online promotion, and how new entrants in the whizzbang world of the unceasing digital orgy should plan their online campaigns. As a new author, he’s only been on Twitter for three to four months, but has gained nearly 1,000 followers in that time.</p> 

<p>In his article, <em>Building a Literary Community: Why And How</em><sup referencelink="3"></sup>, Daryl says that, "six years ago, I didn’t know any authors. I thought they were magical beings that lived in another realm entirely, one that I could never reach. That all changed when I started using Twitter to talk about writing and publishing..."</p>

<p>I asked him what advice he'd give to new authors with little or no idea about social media and blogs. His response? Take it "one relationship at a time."</p>

<div class="row ng-scope">
    <div class="col-md-4">
      <aside>
        <div class="well">
          <h4>Is Twitter dying?</h4>
          <p>
            <span class="fa-stack fa-lg">
              <i class="fa fa-twitter fa-stack-1x"></i>
              <i class="fa fa-dot-circle-o fa-stack-2x text-danger"></i>
            </span>
            Twitter is waning and not just financially<sup referencelink="4"></sup>. According to The Atlantic, spam accounts, and the general noise mean its influence is losing tread<sup referencelink="5"></sup>. The age of numbers is over and communities can no longer be measured by follower count.</p>
        </div>
      </aside>  
    </div>
    <div class="col-md-8">
        
<p>"Mainly authors, and/or readers, folks who seem to be potential kindred literary spirits," he says. "And, it's nice: you can get some buzz going about your work, learn about and support the work of others, but I do suggest a balance... I definitely wouldn't get spammy and do nothing but tweet about your own work."</p> 

<p>He confessed to me that he’s no "technology whiz" - far from it and was lucky enough to have some IT-literate contacts who helped him get started, and recommends to those unsure about social media to "ease in". According to Darryl the technology is only there to assist what authors whould be doing anyway: "Interact with people and see how you can support them. <strong>Show them a human side by which not every tweet is about writing/publishing</strong>."</p> 
    </div>
</div>




<blockquote class="blockquote">
    <p><i class="fa fa-quote-left"></i> If you start to get followers, commenters, visitors/subscribers to your site, don't view them as stats to accumulate and hawk to potential publishers - engage them authentically, with appreciation and reciprocity to the best of your ability.</p>
</blockquote>

<hr>

<h2>Case studies</h2>

<h3>Piers Alexander</h3>

<div class="row">
    <div class="col-md-3">
      <a href="http://www.piersalexander.com/"><img src="images/piers-alexander.jpg" alt="Piers Alexander" class="img-thumbnail"></a>
    </div>
    <div class="col-md-9">
      <p>In 2013 <a class="roll-link" data-title="Piers Alexander" href="http://www.piersalexander.com">Piers Alexander</a> won the PEN Factor competition after pitching his novel <em>The Bitter Trade</em>. He received professional editorial and advisory support, and eventually got published. I asked him how he went about marketing his work online.</p>
    </div>
</div>

<ul class="list-unstyled qanda">
  <li>
    <h4>How did you come to the realisation that you had to start developing an online author profile? Was it during the novel-writing process or during discussions with an agent/publisher?</h4>

    <p><i class="fa fa-quote-left"></i> <em>I didn't think about it at all until I'd finished writing and editing the novel - I wanted to focus completely on the story, and I was unaware of how important a digital profile was to traditional publishers, as well as to self-pub authors. It was engaging with Becky Swift and TLC that switched me on to the whole topic - which is ironic considering I am involved in three marketing-led companies! The lightbulb moment came during the 2013 Literary Conference run by TLC.</em></p>
  </li>
   
  <li>
    <h4>How would you rate your knowledge of online promotion (website building, managing social media accounts, and so on)?</h4>

    <p><i class="fa fa-quote-left"></i> <em>Web build: Probably 8/10 on copy, 5/10 on working with designers and coders, 3/10 on social media. I reckon 7/10 on building a database and doing newsletters that work. SEO 5/10.</em></p>
  </li>


  <li>
    <h4>How much time do/will you spend on online promotion/engaging with your online audience each week? What does this comprise?</h4>
    <p><i class="fa fa-quote-left"></i> <em>I have promised myself half a day a week. 2-3 tweets a week, 2-3 blog posts and articles a month, one update a week on Facebook and Goodreads.</em></p>
  </li>

  <li>
    <h4>Which specific technologies/activities have brought you the most success? How do you plan to use these to market The Bitter Trade?</h4>

    <p><i class="fa fa-quote-left"></i> <em>Going to events, learning face to face and meeting people - I'm in the events business anyway and I am much more effective when I see people live. This means getting on panels at literary and specialist (coffee / historical) conferences and events; meeting the publishing industry to get a deal; being inspired by other writers and self-pub marketers.</em></p>

    <p><i class="fa fa-quote-left"></i> <em>And writing articles and guest posts - I love writing and I think I will enjoy this PR / promo activity a lot.</em></p>
  </li>
  <li> 
    <h4>How do you finance your online marketing activities? Self-financed or did the publisher cover the full costs? Were there any obligations related to digital media (websites/social media etc) written into the publishing contract? Do you think the investment of time and money in your site was worth it?</h4>

    <p><i class="fa fa-quote-left"></i> <em>No publishing contract to date and I am covering costs myself. BUT I have contra'd with both TLC and ePubli: TLC get a % of any future book deal and in exchange have provided a wealth of connections and support; ePubli I will act as an advocate for, and they've been proactive in getting me on panels etc as well as the normal marketing support.</em></p>
  </li>
   
  <li>
    <h4>What important lessons have you learned since starting out? Was there any advice that turned out to be false? Would you have done anything differently?</h4>

    <p><i class="fa fa-quote-left"></i> <em>Nobody's going to give you a free pass, even if you get a traditional publishing deal - you have to build and control your own brand.</em></p>

    <p><em>Build your own network and newsletter database - 1000 True Fans
    Get professional advice and work - Curved House, Heather O'Connell, Two Associates, professional editor and mentor (Sally O-J), professional proofreader
    Build a virtual team to make it fun and real. Working with nice people who care and who love their work is what makes it all worthwhile.</em></p>

    <p><em>Nobody really has a clue how to market a novel online. People don't Google for fiction unless they already know the title. Nobody can tell if KDP Select or Whiteglove work because you can't do an A/B split. So to me it's all about relationships with communities and advisers and supporters
    And everyone has an axe to grind when it comes to partnerships and rights deals - so take lots of advice and look inwards for guidance!</em></p>

    <p><em>I would have taken Heather's advice on print earlier. I was and am convinced that a print copy will enhance the book's profile, get some distribution, and help get a publishing deal - but I was very naive about formats, costs, distribution and process so it took 3 months longer than I thought and I had to mess around with formats and pagination after getting it wrong</em></p>

    <p><em>It took a long time to write and redraft the book - 3 years - but I wouldn't change it for the world. There's a lot of talk and mystique about making self-promotion a full time job but I decided to set myself strict limits on what I will and won't devote to it. If it's more than 8 hours a week then it will just stop me writing and that's my main goal, hence half a day of dedicated time plus follow-ups.</em></p>

    <p><em>I think there are about a million authors blogging about being an author so that's one piece of advice I'll be ignoring!</em></p>
  </li>

  <li>
    <h4>What is your advice to first time authors who have little experience with online marketing/technologies?</h4>
    <p><i class="fa fa-quote-left"></i> <em>Go to seminars, talk to authors, web people; get into TLC or other author-centric services. Look at sites you like, write down what works, and do as comprehensive a spec as you can. The web people will change it but at least you will get your key points across.</em></p>
  </li>

</ul>

<h3>AJ Waines</h3>

<div class="row">
    <div class="col-md-3">
      <a href="http://www.ajwaines.co.uk/"><img src="images/aj-waines.jpg" alt="AJ Waines" class="img-thumbnail"></a>
    </div>
    <div class="col-md-9">
      <p><a class="roll-link" data-title="AJ Waines" href="http://www.ajwaines.co.uk/">AJ Waines</a> is a self-published crime fiction writer, who spent 15 years as a pyschotherapist. Her debut novels <em>The Evil Beneath</em> and <em>Girl on a Train</em> have acheived success on the UK Kindle Charts. I wrote to her to ask how she juggled writing and self-publising with marketing.</p>
    </div>
</div>

<ul class="list-unstyled qanda">
  <li>



<h4>How did you come to the realisation that you had to start developing an online author profile? Was it during the novel-writing process or during discussions with an agent/publisher? </h4>
<p><i class="fa fa-quote-left"></i> <em>My agent suggested it.</em></p>
</li>

<h4><i class="fa fa-question"></i>How would you rate your knowledge of online promotion (website building, managing social media accounts, and so on)?</h4>

<p><i class="fa fa-quote-left"></i> <em>Currently around 6/10. As a Psychotherapist, originally, I had no online presence at all apart from a website (which I’d set up with the help of an IT-expert friend). The idea, as a therapist, is to keep a low profile, so I had to totally change my approach. I learnt a lot by looking at other authors websites, I had to learn a lot about Twitter, Facebook, Google+, Pinterest etc very quickly by observing/reading online material/instructions. My Agent also suggested some Social media training which was useful.</em></p>


<h4>How much time do/will you spend on online promotion/engaging with your online audience each week? What does this comprise?</h4>


<p><i class="fa fa-quote-left"></i> <em>It varies each week – more if I am running a promo on Amazon, for example. Minimum – 30 mins a day - max 4 hours. I Tweet daily, but only if I have something to promote or inform people about – and I retweet other authors or reply to their tweets. I blog on a Crime/Forensic theme once a week and post this to Twitter, FB, Pinterest, Stumble and around 8 Goodreads groups. I return once or twice to respond to any Goodreads comments. I put reviews up of books I’ve read to FB etc. I issue a quarterIy newsletter through Mail Chimp. I have story-boards on Pinterest I update every so often.</em></p>


<h4>Which specific technologies/activities have brought you the most success? How do you plan to use these to market The Evil Beneath/Girl on a Train?</h4>


<p><i class="fa fa-quote-left"></i> <em>Amazon promos are the most useful – I am on the White Glove scheme. Goodreads has been helpful - I did a featured author Q&amp;A and Giveaways.</em></p>


<h4>How do you finance your online marketing activities? Self-financed or did the publisher cover the full costs? Were there any obligations related to digital media (websites/social media etc) written into the publishing contract? Do you think the investment of time and money in your site was worth it?  </h4>


<p><i class="fa fa-quote-left"></i> <em>I paid for a Netgalley entry, training and a book trailer video myself at the suggestion of my Agent. I don’t know of any specific digital media obligations written into contracts. I certainly think the promo I did linked in to the Amazon deals was valuable – I don’t think the NetGalley entry was much help.</em></p>

<h4>What important lessons have you learned since starting out? Was there any advice that turned out to be false? Would you have done anything differently?</h4>

<p><i class="fa fa-quote-left"></i> <em>I’m still learning – it’s very early days for me. Endless promotional tweeting just gets on people’s nerves, so I try to avoid that. I also deal with a certain number of social media/digital platforms and forget the rest – it’s too time-consuming. I don’t tend to engage in forums (except Goodreads, for example). I do try to reply to every email/comment left on my Blog. Also contribute to other’s blogs with comments/feedback because I know it’s encouraging to have a bit of support.</em></p>

<h4>What is your advice to first time authors who have little experience with online marketing/technologies?</h4>

<p><i class="fa fa-quote-left"></i> <em>Get a good website to start with and build from there. Look at other’s platforms and find out what works. There are loads of blogs/instructions about how to do all this online. Read and pick out what would work for you.</em></p>




<p class="pull-right"><a popover="What was Australia like in 1988?" popover-trigger="mouseenter" class="btn btn-success btn-lg" href="#research">
  Research <span class="glyphicon glyphicon-chevron-right">
</a></p>