<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#home">PRW160</a>
        </div>

        <div class="collapse navbar-collapse" id="main-nav">

            <ul class="nav navbar-nav">
                <li ng-class="{active: currentPage == 'home'}">
                    <a href="#home"><span class="glyphicon glyphicon-home"></span> Home</a>
                </li>
                <li ng-class="{active: currentPage == 'industry-analysis'}">
                    <a href="#industry-analysis"><span class="glyphicon glyphicon-book"></span> Industry Analysis</a>
                </li>
                <li ng-class="{active: currentPage == 'research'}">
                    <a href="#research"><span class="glyphicon glyphicon-list-alt"></span> Research</a>
                </li>
                <li ng-class="{active: currentPage == 'presentation'}">
                    <a href="#presentation"><span class="glyphicon glyphicon-facetime-video"></span> Presentation</a>
                </li>
            </ul>
            <p class="navbar-text navbar-right"><a href="#about" class="navbar-link">About this site</a> <span class="glyphicon glyphicon-chevron-right"></span></p>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
