<div class="page-header">
  <h1>MA Proposal &amp; Background Research<small>Video presentation</small></h1>
</div>

<h2>Presentation</h2>

<div class="alert alert-info">
  <strong>Work in progress!!</strong>  Only 1 min 30 secs complete :)
</div>

<div>
  <video controls style="width:640px;height:360px;" poster="images/poster.png">
    <source src="videos/presentation.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
    <source src="videos/presentation.ogv" type="video/ogg; codecs=dirac, speex">
  </video>
</div>

<h2>Transcript</h2>
<p><em>One summer, in a small town on Australia’s eastern coast... one boy will discover loyalty, hope, and friendship, and love…</em></p>

<p>Ahem.. Hello! I’d like to introduce the ideas and background to the final project for the award of Masters of Professional Writing. 

<p>In this presentation, I want to address the following questions: why this story. Why now. What’s the market for it. And why should anyone believe anything a cockatoo has to say?

<p><em>SCREECH! </em></p>

<p>My project is entitled Sandbanker, and is a coming of age novel set in Australia in 1988 - the bicentennial year. The year of tall ships, and the first polymer note. Some foreign sheila cut a ribbon at our new parliament house… there was world expo. It was also the year that gave the rest of the planet that beach-side white-bread drama, Home and Away. </p>

<p>The protagonist and narrator of Sandbanker is thirteen-year-old, Alex Miller. Alex lives in Shelly Beach: a fictitious, isolated town on Australia’s Pacific coast. </p>#
<p>... </p>
<p>... more to come!!</p>

<h2>Credits</h2>

