<div class="page-header">
  <h1>MA Proposal &amp; Background Research</h1>
</div>

<h2>Presentation</h2>

<div class="row">
    <div class="col-md-2">
      <img src="images/cocky.gif" alt="Cocky" class="img-responsive">
    </div>
    <div class="col-md-10">
        <p>To help me present my proposal, I've hauled in Cocky: a more reliable orator and minor character in my story.</p>


        <p>For those with <a class="roll-link" data-title="modern browsers" href="http://browsehappy.com/">modern browsers</a>, subtitles are on by default <i class="fa fa-smile-o"></i>. Should you have any technical issues related to playback, <a class="roll-link" data-title="get in touch" href="#about">get in touch</a>. You can find a <a class="roll-link" data-title="transcript of this video" href="#presentation#transcript">transcript of this video</a> below.
        </p>
        
        <div class="alert alert-info">
          <strong>Work in progress!!</strong>  Only 1 min 30 secs complete :)
        </div>

    </div>
</div>



<div video-preso></div>

<h2 id="transcript">Transcript</h2>
<p><em>One summer, in a small town on Australia’s eastern coast... one boy will discover loyalty, hope, and friendship, and love…</em></p>

<p>Ahem.. Hello! I’d like to introduce the ideas and background to the final project for the award of Masters of Professional Writing. 

<p>In this presentation, I want to address the following questions: why this story. Why now. What’s the market for it. And why should anyone believe anything a cockatoo has to say?

<p><em>SCREECH! </em></p>

<h3>The story</h3>

<p>My project is entitled Sandbanker, and is a coming of age novel set in Australia in 1988 - the bicentennial year. The year of tall ships, and the first polymer note. Some foreign sheila cut a ribbon at our new parliament house… there was world expo. It was also the year that gave the rest of the planet that beach-side white-bread drama, Home and Away. </p>

<p>The protagonist and narrator of Sandbanker is thirteen-year-old, Alex Miller. Alex lives in Shelly Beach: a fictitious, isolated town on Australia’s Pacific coast. </p>


<p>With no father and an unstable home life, Alex finds himself alone. He dreams of running away from his erratic mother Dagmar and her belligerent boyfriend, Terry, and concocts a plan to head north.</p> 

<p>If only he had money.</p>

<p>But his fortunes change when he encounters ex-bikie Jono, whom he finds roughing it in a nearby sea-cave. Alex agrees to help the wounded Jono and keep his whereabouts secret from the police in return for money. The pair soon bond, and Alex learns from his new friend lessons about life, the natural environment and human relationships. </p>

<p>Alex soon realises however that the closer he and Jono become, the more he puts his own plans and safety at risk. And when it turns out that Jono is wanted for murder, and is on the run not only from the police, but from a treacherous gang leader, he must decide whether to trust and help Jono or abandon him and pursue his own agenda. </p>

<p>Before the end, Alex will help clear Jono’s name, stand up to Terry, and realise what it is to be an adult.</p>

<p>In writing I want to explore themes of friendship, loyalty and sense of place and belonging that comes from the land.</p>


<h3>How the story developed </h3>

<p>I developed the story idea and basic narrative structure during the Scriptwriting module. I’d always wanted to set a story in the environment in which I grew up, not only because I have an intimate knowledge of the land and culture, or at least remnants of memory, but I wanted to re-examine the epoque and dispel the golden-syrupy fantasies I developed while growing up. For example: Did I really like Guns N Roses?</p>


<p><em>SCREECH! </em></p>


<h3>The setting and background research</h3>
<p>In the late 1980s, Australia had just crawled its way out of recession and was moaning its way into another. In 1988 we were told to celebrate the 200th anniversary of European settlement, without really being told why; and those who inquired were often dismantled by gratuitous flag-waving and the smoke of a million summer barbeques.</p>
<p>Politics and the historical events of 1988 will only simmer in the subtext of my story - and while I’m researching news and factual evidence, my protagonist will observe such things with relative passiveness, preferring to focus on his immediate situation.</p>

<p>Already I’ve researched general historical facts such as the prices of common goods, coastal weather patterns, marine biology, and the era’s interesting fashion tastes.</p>

<p>As for the setting, I want to depict a world of sand, ocean foam, sun and weed, rocks and  limber eucalypts. The ocean features in a wealth of Australian literature - from teeny novels such as Puberty Blues to the modern works of Tim Winton, and provides a fitting backdrop to a coming of age novel.</p>

<p>My research has so far consisted of scouring the internet, reading popular Australian novels, newspapers, and quizzing friends and relatives about the glory days.</p>


<h3>Market research and trends</h3>
<p>The bildungsroman genre has a strong history in Australian publishing, and the voices of fiction writing contributing to the cultural narrative are more diverse than ever before. Yet the opportunities to take the traditional publishing route are becoming rarer every year. </p>

<p>What I learned from the industry analysis, and speaking with first-time authors is that writing, as difficult as it is, is only the first half of the pavlova, as they say. After you’ve put the pen down, you still have to get on with building an author brand, promoting your work and building online networks. There are many opportunities for writers - literary prizes and grants and so on - but the marketplace has changed.</p>


<p>People continue to consume books, yet sales are down and book advances are diminishing. Compared with the UK and the USA, the Australian market is miniscule.</p>

<p>I have no delusions of success in the Australian fiction market - I only want to finish my book. But I have made one important decision… and that is, to self-publish… take advantage of the new and inexpensive technology available to authors. This will involve getting my hands dirty, digitally speaking, but with the current print-on-demand and ebook distribution services, I’m looking forward to the challenge.</p>

<p>So thanks for watching, and if you’d like to know more about my project or background research, get in touch. See ya!</p>

<h2>Credits</h2>

<h3>Soundtrack (in order)</h3>
<dl>
  <dt>Daryl Braithwaite</dt>
  <dd>One Summer 2013 Video</dd>
  <dt>Denis Gibbons</dt>
  <dd>The Wild Colonial Boy</dd>
  <dt>Musique de la Garde Républicaine</dt>
  <dd>God Save the Queen</dd>
  <dt>Pseudo Echo</dt>
  <dd>Funky Town</dd> 
  <dt>Dragon</dt>
  <dd>Are You Old Enough Lyrics</dd>
</dl>
