<div class="page-header">
  <h1>1988 in Australia <small>Life and events</small></h1>
</div>

<p>Were I to draw solely upon my memories of my childhood in Australia during the 1980s as source material for my novel, I’d probably end up creating a golden-syrup dripping fantasy land in which birds flocked to my shoulders wherever I went and the men and women wearing oversized grey suits and shoulder pads running the country could be taken at their word.</p>

<p>One knows better with age, and a genuine reason why I wanted to set a story in this period, was to examine many of the events of the time, from which my pre-pubescent youth stole their relevance and interestingness. </p>

<p>Australia had just crawled its way out of recession and was sighing and moaning its way into another. In 1988 we were told to celebrate the 200th anniversary of English settlement, without really being told why we should, and when people dared to raise such blasphemies as the maltreatment of the Indigenous population<sup><a href="#bibliography#2">2</a></sup> or the recent repudiation of the white australia immigration policy conceived at the nation’s federation, their cries were drowned out by dentally endowed media commentators among the gratuitous flag-waving and shimmering barbeque haze.</p>

<p>Similar to me, tHe protagonist in my story will observe most of the events happening beyond his immediate sphere with passivity, oblvious that certain facets of the era affect him and those around him.</p>

<hr>

<h2><i class="fa fa-map-marker"></i> Where in the world?</h2>

<h2><i class="fa fa-calendar-o"></i> What happened?</h2>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">January</h3>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
        <span class="badge">Monday, 14th</span>
        <div class="media">
          <a class="pull-left" href="#">
            <img src="http://placehold.it/100x100">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>The ibulum at eros ibulum at erosibulum at erosibulum ibulum at eros ibulum at erosibulum</p>
          </div>
        </div>
    </li>
    <li class="list-group-item">
        <span class="badge">Monday, 14th</span>
        <div class="media">
          <a class="pull-left" href="#">
            <img src="http://placehold.it/100x100">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>The ibulum at eros ibulum at erosibulum at erosibulum ibulum at eros ibulum at erosibulum</p>
          </div>
        </div>
    </li>
    <li class="list-group-item">
        <span class="badge">Monday, 14th</span>
        <div class="media">
          <a class="pull-left" href="#">
            <img src="http://placehold.it/100x100">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>The ibulum at eros ibulum at erosibulum at erosibulum ibulum at eros ibulum at erosibulum</p>
          </div>
        </div>
    </li>
  </ul>

  <div class="panel-heading">
    <h3 class="panel-title">February</h3>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
        <span class="badge">Monday, 14th</span>
        <div class="media">
          <a class="pull-left" href="#">
            <img src="http://placehold.it/100x100">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>The ibulum at eros ibulum at erosibulum at erosibulum ibulum at eros ibulum at erosibulum</p>
          </div>
        </div>
    </li>
    <li class="list-group-item">
        <span class="badge">Monday, 14th</span>
        <div class="media">
          <a class="pull-left" href="#">
            <img src="http://placehold.it/100x100">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>The ibulum at eros ibulum at erosibulum at erosibulum ibulum at eros ibulum at erosibulum</p>
          </div>
        </div>
    </li>
    <li class="list-group-item">
        <span class="badge">Monday, 14th</span>
        <div class="media">
          <a class="pull-left" href="#">
            <img src="http://placehold.it/100x100">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>The ibulum at eros ibulum at erosibulum at erosibulum ibulum at eros ibulum at erosibulum</p>
          </div>
        </div>
    </li>
  </ul>

</div>

<hr>

<h2><i class="fa fa-gavel"></i> Political news and the bicentennial year</h2>

<hr>

<h2><i class="fa fa-bug"></i> The Pacific, weather and the natural environment</h2>


<hr>

<h2><i class="fa fa-usd"></i> Lifestyle, money and culture</h2>


<p>
  <a class="btn btn-success btn-lg pull-right" href="#presentation">
    Presentation <span class="glyphicon glyphicon-chevron-right">
  </a>
</p>