<div class="page-header">
  <h1>Research <small>Subtext for header</small></h1>
</div>

<h2>What happened in Australia in 1988?</h2>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">January</h3>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
        <span class="badge">Monday, 14th</span>
        <div class="media">
          <a class="pull-left" href="#">
            <img src="http://placehold.it/100x100">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>The ibulum at eros ibulum at erosibulum at erosibulum ibulum at eros ibulum at erosibulum</p>
          </div>
        </div>
    </li>
    <li class="list-group-item">
        <span class="badge">Monday, 14th</span>
        <div class="media">
          <a class="pull-left" href="#">
            <img src="http://placehold.it/100x100">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>The ibulum at eros ibulum at erosibulum at erosibulum ibulum at eros ibulum at erosibulum</p>
          </div>
        </div>
    </li>
    <li class="list-group-item">
        <span class="badge">Monday, 14th</span>
        <div class="media">
          <a class="pull-left" href="#">
            <img src="http://placehold.it/100x100">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>The ibulum at eros ibulum at erosibulum at erosibulum ibulum at eros ibulum at erosibulum</p>
          </div>
        </div>
    </li>
  </ul>

  <div class="panel-heading">
    <h3 class="panel-title">February</h3>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
        <span class="badge">Monday, 14th</span>
        <div class="media">
          <a class="pull-left" href="#">
            <img src="http://placehold.it/100x100">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>The ibulum at eros ibulum at erosibulum at erosibulum ibulum at eros ibulum at erosibulum</p>
          </div>
        </div>
    </li>
    <li class="list-group-item">
        <span class="badge">Monday, 14th</span>
        <div class="media">
          <a class="pull-left" href="#">
            <img src="http://placehold.it/100x100">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>The ibulum at eros ibulum at erosibulum at erosibulum ibulum at eros ibulum at erosibulum</p>
          </div>
        </div>
    </li>
    <li class="list-group-item">
        <span class="badge">Monday, 14th</span>
        <div class="media">
          <a class="pull-left" href="#">
            <img src="http://placehold.it/100x100">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>The ibulum at eros ibulum at erosibulum at erosibulum ibulum at eros ibulum at erosibulum</p>
          </div>
        </div>
    </li>
  </ul>

</div>

<a class="btn btn-success btn-lg pull-right" href="#presentation">
  Presentation <span class="glyphicon glyphicon-chevron-right">
</a>