<div class="page-header">
  <h1>1988 in Australia <small>Life and events</small></h1>
</div>

<p>Were I to draw solely upon my memories of my childhood in Australia during the 1980s as source material for my novel, I’d probably end up creating a golden-syrup dripping fantasy land in which birds flocked to my shoulders wherever I went and the men and women wearing oversized grey suits and shoulder pads running the country could be taken at their word.</p>

<p>One knows better with age, and a genuine reason why I wanted to set a story in this period, was to examine many of the events of the time, from which my pre-pubescent youth stole their relevance and interestingness. </p>

<p>Australia had just crawled its way out of recession and was sighing and moaning its way into another. In 1988 we were told to celebrate the 200th anniversary of English settlement, without really being told why we should, and when people dared to raise such blasphemies as the maltreatment of the Indigenous population<sup referencelink="6"></sup> or the recent repudiation of the white australia immigration policy conceived at the nation’s federation, their cries were drowned out by dentally endowed media commentators among the gratuitous flag-waving and shimmering barbeque haze.</p>

<p>Similar to me, tHe protagonist in my story will observe most of the events happening beyond his immediate sphere with passivity, oblvious that certain facets of the era affect him and those around him.</p>

<hr>

<h2><i class="fa fa-map-marker"></i> Where in the world?</h2>
<p>My novel is based on the north east coastline - a temperate, subtropical environment, with lush vegetation, harsh summers, bright skies and, back then, relatively isolated rural towns.</p>
<div class="google-map clearfix">
    <div googlemap=""></div>
</div>
<h2><i class="fa fa-calendar-o"></i> Events</h2>
<p>A selection of events that took place in 1988, which I plan to indirectly reference in my writing.</p>

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">January</h3>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
        <span class="badge">Monday, 18th</span>
        <div class="media">
            <img class="img-responsive pull-left" src="images/aca.jpg" alt="A Current Affair">
         
          <div class="media-body">
            <h4 class="media-heading">A revamped <a href="http://aca.ninemsn.com.au/">A Current Affair</a> debuts on Channel Nine, hosted by Jana Wendt.</h4>
            <p>Legistimising the harrassment of overweight, foreign rip off merchants and exploiting consumers who have alleged to have landed foul of the Trading Act.</p>

          </div>
        </div>
    </li>
    <li class="list-group-item">
        <span class="badge">Sunday, 17th</span>
        <div class="media">
            <img class="img-responsive pull-left" src="images/alf.jpg" alt="Home and Away">
          <div class="media-body">
            <h4 class="media-heading">Channel 7 broadcasted the first episode of <a href="https://au.tv.yahoo.com/home-and-away">Home and Away</a></h4>
            <p>Many rural towns still receive only two television channels, and that's if they're lucky. Viewers therefore greedily gobble up this white bread drama set in the fictional and chloroformic Summer Bay<sup referencelink="7"></sup>.</p>

          </div>
        </div>
    </li>

    <li class="list-group-item">
        <span class="badge">Tuesday, 26th</span>
        <div class="media">
            <img class="img-responsive pull-left" src="images/ff.jpg" alt="First Fleet">
          <div class="media-body">
            <h4 class="media-heading">First Fleet re-enactment on Sydney Harbour, Australia Day</h4>
            <p>Australia marks 200 since the arrival of the 'First Fleet': eleven boats filled mostly with the convicted criminals who were to set the genetic foundation stone for many of its twenty-first century politicians.</p>
            <p>To celebrate, they decided to reenact the voyage (this time without the smallpox and three per cent death rates). Eleven tall ships set out from Portsmouth, England May 13, 1987 and arrived in Sydney Harbour on Jan 26<sup referencelink="8"></sup>.</p>

          </div>
        </div>
    </li>
  </ul>

  <div class="panel-heading">
    <h3 class="panel-title">March</h3>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
        <span class="badge">Friday, 4th</span>
        <div class="media">
            <img class="img-responsive pull-left" src="images/footy.jpg" alt="Footy">
          <div class="media-body">
            <h4 class="media-heading">Footy</h4>
            <p>The newly built Sydney Football Stadium hosts its first game of rugby league<sup referencelink="9"></sup>.</p>
          </div>
        </div>
    </li>

  </ul>

  <div class="panel-heading">
    <h3 class="panel-title">April</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
        <span class="badge">Saturday, 30th</span>
        <div class="media">
            <img class="img-responsive pull-left" src="images/expo.jpg" alt="World Expo 1988">
          <div class="media-body">
            <h4 class="media-heading">World Expo opens in Brisbane</h4>
            <p>Brisbane finally finds itself on the international and domestic map by presenting it as sophisticated city with an global outlook, instead of an introspective backwater full of beer-swilling bogans. <sup referencelink="10"></sup>.</p>
          </div>
        </div>
    </li>

  </ul>

  <div class="panel-heading">
    <h3 class="panel-title">May</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
        <span class="badge">Monday, 9th</span>
        <div class="media">
            <img class="img-responsive pull-left" src="images/ph.jpg" alt="New Parliament House">
          <div class="media-body">
            <h4 class="media-heading">Parliament House opened</h4>
            <p>The Queen attends the opening of the new Parliament House in Canberra. <sup referencelink="11"></sup>.</p>
          </div>
        </div>
    </li>

  </ul>

  <div class="panel-heading">
    <h3 class="panel-title">October</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
        <span class="badge">Monday, 12th</span>
        <div class="media">
            <img class="img-responsive pull-left" src="images/walshst.jpg" alt="Walsh Street police shootings">
          <div class="media-body">
            <h4 class="media-heading">Walsh Street police shootings</h4>
            <p>Two young Victorian police officers were shot down gang-style in a suburban street <sup referencelink="12"></sup>.</p>
          </div>
        </div>
    </li>

  </ul>

</div>


<hr>

<h2><i class="fa fa-gavel"></i> Australia Day Bicentennial celebrations</h2>
<p>Charles and Diana looked more uncomfortable than usual basting in the summer sun, singer John Farhnam won the Australian of the Year and the biggest Indigenous land rights protest took place. It all happened on the 26th of January, 1988.
<div class="video-container">    
  <iframe width="640" height="480" src="//www.youtube.com/embed/ktyJFf9sBes?t=1m23s" frameborder="0" allowfullscreen></iframe>
</div>
<hr>

<h2><i class="fa fa-bug"></i> The Pacific, weather and the natural environment</h2>
<div ng-controller="CarouselCtrl">

  <div style="height: 450px">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>


</div>
<hr>

<h2><i class="fa fa-usd"></i> Lifestyle, money and culture</h2>

<h3>Cost of living</h3>
<p>Naturally I want to be able accurately cite prices in my novel. The 2014 figures are for comparison only. </p>
<table class="table table-striped">
      <thead>
        <tr>
          <th>Item</th>
          <th>Cost in 1988 (AUD)</th>
          <th>Cost in 2014 (AUD)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bread <sup referencelink="13"></sup> <sup referencelink="14"></sup></td>
          <td>$1.20</td>
          <td>$5.50</td>
        </tr>
        <tr>
          <td>Milk (1l) <sup referencelink="13"></sup> <sup referencelink="14"></sup></td>
          <td>70c</td>
          <td>$3.00</td>
        </tr>
        <tr>
          <td>Average weekly income <sup referencelink="15"></sup></td>
          <td>$431.70</td>
          <td>$1,500</td>
        </tr>
        <tr>
          <td>1 litre of petrol <sup referencelink="16"></sup></td>
          <td>53c</td>
          <td>$1.55</td>
        </tr>
        <tr>
          <td>Mars bar <sup referencelink="14"></td>
          <td>25c</td>
          <td>$2.52</td>
        </tr>
        <tr>
          <td>Packet of crisps (50g) <sup referencelink="14"></td>
          <td>25c</td>
          <td>$1.80</td>
        </tr>
      <tr>
          <td>Glass of beer <sup referencelink="13"></td>
          <td>$1.80</td>
          <td>$5.50</td>
        </tr>
      <tr>
          <td>3 bedroom house on a block of land <sup referencelink="17"></sup> <sup referencelink="18"></sup></td>
          <td>$71,000</td>
          <td>$317,000</td>
        </tr>
      </tbody>
    </table>

<h3>Popular cars</h3>
<p>Who could forget the the 'Datto 120'? Or that apogee of status symbols: the Holden Commodore. In 1988, petrol was cheap and the distances were great and if you'd never driven at 120km/ph down the Pacific Highway with your elbow hanging out catching a tan, you'd never lived. Or didn't have a licence.</p>
<div class="cars clearfix">
  <img src="images/commodore.jpg" alt="1988 Holden Commodore VN" class="img-rounded img-responsive">
  <img src="images/laser.jpg" alt="1988 Ford Laser KE Ghia" class="img-rounded img-responsive">
  <img src="images/datsun.jpg" alt=" Datsun 120Y" class="img-rounded img-responsive">
</div>
<hr>

<h2><i class="fa fa-flag-o"></i> Convict heritage</h2>
<hr>
<h2><i class="fa fa-link"></i> Crime and policing</h2>

<hr>

<p>
  <a class="btn btn-success btn-lg pull-right" href="#presentation">
    Presentation <span class="glyphicon glyphicon-chevron-right">
  </a>
</p>